* {
    padding: 0;
    box-sizing: border-box;
  }
  
  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#49557e;
    color: white;
  }
  .navbar-right{
    justify-content: right;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    color: white;
  }
  
  .Navbar .logo {
    width: 70px;
    background-color: white;
    padding: 5px;
    border-radius: 50%  ;
    margin-left: 20px;
    margin-top: 2px;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color:white;
    font-size: 18px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .Navbar button {
    background: transparent;
    padding: 10px 30px;
    border: 1px solid #4D869C; /* Updated to match the palette */
    color: white;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 20px;
  }
  
  .Navbar button:hover {
    background-color: #CDE8E5; /* Updated to match the palette */
  }
  
  .Navbar .active {
    border-bottom: 2px solid #49557e;
    padding-bottom: 2px;
  }
  
  .Navbar li:hover {
    cursor: pointer;
  }
  
  .navbar-search-icon {
    position: relative;
  }
  
  .navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #4D869C; /* Updated to match the palette */
    border-radius: 5px;
    top: -8px;
    right: -8px;
  }
  
  @media (max-width: 1000px) {
    .Navbar .logo {
      width: 120px;
    }
    .navbar-menu {
      gap: 15px;
      font-size: 16px;
    }
    .navbar-right {
      gap: 20px;
    }
    .navbar-right img {
      width: 20px;
    }
    .navbar-right button {
      padding: 7px 20px;
      font-size: 15px;
    }
  }
  
  @media (max-width: 800px) {
    .Navbar .logo {
      width: 110px;
    }
    .navbar-menu {
      gap: 20px;
      font-size: 13px;
    }
    .navbar-right {
      gap: 17px;
    }
    .navbar-right img {
      width: 15px;
    }
    .navbar-right button {
      padding: 5px 15px;
      font-size: 14px;
    }
  }
  

  
  @media (max-width: 400px) {
    .Navbar .logo {
      width: 80px;
    }
    .navbar-right {
      gap: 10px;
    }
    .navbar-right img {
      width: 15px;
    }
    .navbar-right button {
      padding: 4px 10px;
      font-size: 12px;
    }
  }
  